@model IList<AzDoMVCApp.Models.ProjectProperty>

<table class="table">
    <thead>
        <tr>
            <th>
                Tags
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @{
                        var projectProperty = item;
                        

                    }
                    @projectProperty.name
            </td>
        </tr>
}
    </tbody>
</table>
