@using AzDoMVCApp.Extensions;

@model AzDoMVCApp.Models.Project

<div class="row">
    <form id="frmProjects" asp-action="GetWavesByProject" asp-controller="Metadata" method="get"> 
        <div class="row">   
             <div class="col-md-4">  
                <select id="drpProjects" class="form-control" asp-for="ProjectId" asp-items="@(new SelectList(Model.value, "id", "name"))">  
                    <option value="">--Select--</option>  
                </select>
                <input type="hidden" asp-for="ProjectId" /> `
             </div>    
            <div class="col-md-2">  
                <input type="submit" name="btnSubmit" value="Load" class="btn btn-success" />  
            </div>
            
        </div>  
    </form>
</div>
